
*{
    margin: 0; 
    padding: 0;
    /* скролл мешал */
    box-sizing: border-box;
}
.container{
    display: grid;
    /* gap: 20px; */
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: 1fr 1fr 1fr;
 
    background-color: white;
    height: 100vh; 
    /* justify-content: space-between; */
}


.block{
    background-color: rgb(109, 98, 179);
    border-radius: 8px;
    display: grid;
    position:relative;
    margin: 10px;

}

.num{
    /* в этом месте цифра стояла рядом с восмиугольником. 
    Абсолют выводит тег поверх верстки */
    position:absolute;
    
    align-self: center; 
    /* повертикали */
    justify-self: center;
    /* погоризонтали */
    color: white;
    background-color: transparent;
}

.quadrature{
    width: 10px;
    height: 10px;

    margin: 10px;
    padding: 0;

    border-style: solid;
    border-width: 3px;
}

.quadrature_left-top{

}
.quadrature_right-bottom{
    justify-self: end;
    position:absolute;
    bottom:0;
}
.quadrature_white-yellow{
    background-color: white;
    border-color:yellow ;
}

/*.whiteQuadrateTop{*/
/*    background-color: white;*/

/*    width: 10px;*/
/*    height: 10px;*/

/*    margin: 10px;*/
/*    padding: 0;*/

/*    border-style: solid;*/
/*    border-color:yellow ;*/
/*    border-width: 3px;  !* для покраски в желтый *!*/
/*    !* position:absolute; *!*/
/*}*/

/*.whiteQuadrateBottom{*/

/*    background-color: white;*/

/*    width: 10px;*/
/*    height: 10px;*/

/*    margin: 10px;*/
/*    padding: 0;*/

/*    justify-self: end;*/

/*    border-style: solid;*/
/*    border-color:yellow ;*/
/*    border-width: 3px;*/

/*    position:absolute;*/
/*    bottom:0;*/

/*}*/

.hexagon{
    /* background-color:transparent; */
    overflow: hidden;
}

.hexagon__top{
    height: 0;
    border-bottom: 30px solid rgb(109, 98, 179);
    border-left: calc(10vw) solid transparent;
    border-right: calc(10vw) solid transparent;
}

.hexagon__mid{
    height: calc(100% - 60px);
    background-color: rgb(109, 98, 179);
}

.hexagon__bottom{
    height: 0px;
    border-top: 30px solid rgb(109, 98, 179);
    border-left: calc(10vw) solid transparent;
    border-right: calc(10vw) solid transparent;
}