
*{
    margin: 0; 
    padding: 0;
    /* скролл мешал */
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    /* min-width: 320px; */
    gap: 20px;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: white;
    height: 100vh; 
    justify-content: space-between;
}

.block{
    background-color: rgb(109, 98, 179);
    /* margin: 5%; */
    border-radius: 8px;
    /* text-align: center; */
    display: grid;
    /* grid-area: b; */
    position:relative;
}

.p{
    /* в этом месте цифра стояла рядом с восмиугольником. Абсолют выводит все поверх верстки */
    position:absolute;
    
    align-self: center; 
    /* повертикали */
    justify-self: center;
    /* погоризонтали */
    color: white;
    background-color: transparent;
}

.whiteQuadrateUp{
    

    background-color: white;

    width: 10px;
    height: 10px;

    margin: 10px;
    padding: 0;
/*
    align-self: center; 
    justify-self: end;
     */


    border-style: solid;
    border-color:yellow ;
    border-width: 3px;

    position:absolute;
    
}

.whiteQuadrateDown{
    

    background-color: white;

    width: 10px;
    height: 10px;

    margin: 10px;
    padding: 0;

    justify-self: end;

    border-style: solid;
    border-color:yellow ;
    border-width: 3px;

    position:absolute;
    bottom:0;
    
}

.figure{   
    background-color:transparent;
    /* display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: 1fr;
    grid-template-areas: 
    "t"
    "m"
    "b"; */

}

.top{
    /* display: grid;
    grid-area: t; */
    height: 0;
    border-bottom: 30px solid rgb(109, 98, 179);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    /* align-self: start; */
    
}

.mid{
    /* display: grid;
    grid-area: m; */
    /* width: 100%; */
    /* grid-row : 2; */
    height: calc(100% - 60px);
    /* height: 81.5%; */
    /* height: 100%; */
    background-color: rgb(109, 98, 179);
    
    /* align-self: stretch; */
    /* align-self: center; */
}

.bottom{
    /* width: 100%; */
    /* display: grid;
    grid-area: b; */
    height: 0px;
    border-top: 30px solid rgb(109, 98, 179);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    /* align-self: end; */
    /* justify-self: end; */
}